.advantages {
//  background-color: rgba(242, 242, 242, 1);
  background-image: url("../img/mask-advantages.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  background-position-y: -182px;
}

.advantages__list {
  margin-top: inherit;
  list-style: none;
}

.advantages__subtitle {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
}

.advantages__description {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(40, 54, 69, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.advantages__phone--smile {
  background-image: url("../img/iphone-3.png");
  background-repeat: no-repeat;
  display: block;
//  content: "";
  width: 157px;
  height: 320px;
//  z-index: 1;
  object-fit: none;
}

.advantages__phone {
//  z-index: 2;
}
