.contacts {
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
}

.contacts__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #283645;
  text-align: center;
//  grid-row-start: 1;
//  grid-row-end: 2;
}

.contacts__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color:  #283645;
}

.contacts__phone-number {
  list-style: none;
  color: red;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}

.contacts__contact-mail {
  list-style: none;
  color: red;
  text-decoration: none;
}

.contacts__address {
  list-style: none;
  color: red;
  text-decoration: none;
}

.contacts__item {
  position: relative;
  z-index: 3;
  text-align: center;
}

.contacts__map {
//  object-fit: contain;
  position: relative;
}

.contacts__img-wrapper {
  position: relative;
}

.contacts__img-wrapper::after {
  position: absolute;
  top: -90px;
  content: "";
  background-image: url("../img/mask-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  width: 320px;
  height: 123px;
  object-fit: contain;
  left: 0;
  background-size: cover;
}

@media (min-width: 660px) {
    .contacts__title {
         font-style: normal;
         font-weight: 300;
         font-size: 40px;
         line-height: 54px;
         text-align: center;
         margin: 0 21px;
       }

    .contacts__item:last-child {
        margin: 0 10px;
        width: 660px;
//        height: 374px;
      }

/*    .contacts__img-wrapper::after {
      position: absolute;
      top: -90px;
      content: "";
      background-image: url("../img/mask-map.svg");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 2;
      width: 1200px;
      height: 123px;
      object-fit: contain;
      left: 0;
      background-size: cover;
      background-color: rgba(255, 255, 255, 0);
    }*/
  }

@media (min-width: 1200px) {
  .contacts__title {
       font-style: normal;
       font-weight: 300;
       font-size: 50px;
       line-height: 68px;
     }
  .contacts__item:last-child {
      margin: 0 10px;
      width: max-content;
    }
  .contacts__map {
      width: 1200px;
      height: 502px;
    }
  .contacts__item {
    padding: 0;
    margin: 0;
    width: max-content;
  }
  }



/*  .contacts__img-wrapper::after {
    position: absolute;
    top: -90px;
    content: "";
    background-image: url("../img/mask-map.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 1200px;
    height: 123px;
    object-fit: contain;
    left: 0;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
  }  */
