.footer {
  background-color: white;
}

.footer__logo {
  position: relative;
}

.footer__logo-image img::before{
  background-image: url(../img/glasses.svg);
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 59px;
  height: 40px;
}
