.header {
  background-color: #283645;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__logo--wrapper-button-logo {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 69px;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  margin-bottom: 1px;
}

.header__logo-image {
  margin: auto 0;
  margin-left: 10px;
  &:hover path {
    fill: #D22856;
  }
  &:active path{
    fill: white;
    opacity: 0.3;
  }
}

.header__header-description {
  text-align: center;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
//  object-fit: none;
//  width: 320px;
//  height: 462px;
  background-size: auto;
  position: relative;
}

.phone {
  transform: translate(20px, 92px);
  position: absolute;
  left: -20px;
  bottom: 328px;
}

.header__image-wrapper img {
  position: absolute;
  bottom: 0;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header__wrapper-2 {
  width: 280px;
}

.header__logo-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding: 0 20px;

  min-height: 69px;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  margin-bottom: 1px;
}

.header__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding: 0 20px;
  margin-top: 29px;
  &--form {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    margin-top: 36px;
    margin-bottom: 51px;
  }
}

.header__subtitle br {
  display: none;
}

.header__toggle {
  background-color: inherit;
  border: none;
  &:hover path{
    fill: #D22856;
  }
  &:active path{
    fill: #D22856;
    opacity: 0.3;
  }
}

.header__footer {
  padding-top: 140px;
}

.header__toggle--none {
  display: none;
}

.download {
  background-color: inherit;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-top: 400px;
  &:hover {
    color: #D22856;
    background-color: white;
  }
  &:active {
    background-color: white;
    color: rgba(210, 40, 86, 0.3);
  }
}

.operating-systems {
  list-style: none;
  display: flex;

}

.operating-systems__item {
  margin-right: 35px;
  &:last-of-type {
    margin-right: 0;
  }
}

.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px;
}

@media (min-width: 660px) {
    .header__header-description {
      background-size: cover;                     /*фоновую картинку вероятно заменить*/
    }                                              /*руку вероятно тоже*/

.header__wrapper-2 {
  width: 620px;
}

    .phone {
      width: 660px;
      height: 545px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: -1;
      position: absolute;
      bottom: -140px;
      left: -225px;        /*координаты потом изменить*/
    }

    .header__logo-flex {
      min-height: 109px;
      padding-top: 10px;
      width: 660px;
    }

.header__logo-image {      //очки на десктопе как делать?
  padding-left: 70px;
}

// .header__description-wrapper {
//   width: 300px;
//
// }

  .header__subtitle {
       width: 300px;
       font-style: normal;
       font-weight: 300;
       font-size: 40px;
       line-height: 48px;
       padding: 0;
       margin: 0;
       z-index: 1;
       margin-top: 102px;/*временно*/
       &--form {
         width: 620px;
         font-style: normal;
         font-weight: 300;
         font-size: 50px;
         line-height: 68px;
         margin-top: 81px;
         margin-bottom: 74px;
       }
     }

     .header__subtitle br {
       display: inherit;
     }

    .header__footer {
      padding-top: 0;
    }

    .download {
      grid-column-start: 1;
      grid-column-end: 2;
      padding: 0;
      margin: 0;
      z-index: 1;
      margin-top: 39px;
      width: 300px;
  //    margin-left: -320px;
    }

      .operating-systems {
    //    grid-column-start: 1;
  //      grid-column-end: 2;
        z-index: 1;
        margin-top: 46px;
      }

       .header__text {
         margin-top: 42px;
         margin-bottom: 119px;
         width: 300px;
         font-style: normal;
         font-weight: 300;
         font-size: 18px;
         line-height: 24px;
         grid-column-start: 1;
         grid-column-end: 2;
         z-index: 1;
         padding: 0;

       }
}

@media (min-width: 1200px) {
    .phone {
      width: 1050px;
      height: 645px;
    }

.operating-systems {
  margin-top: 75px;
}

.header__wrapper {
  position: absolute;
  top: 0;
  z-index: 1;
}

.header__wrapper-2 {
  width: 747px;
  margin-left: 96px;
}

  .header__subtitle {
       margin-top: 200px;
       font-style: normal;
       font-weight: 300;
       font-size: 50px;
       line-height: 68px;
       &--form {
         width: 747px;
       }
     }

  .header__toggle {
    display: none;
  }

.download {
  margin-top: 51px;
}

  .header__logo-flex  {
    width: 320px;
    padding: 0;
    padding-left: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: none;
 }
 .header__logo--wrapper-button-logo{
   box-shadow: none;
 }

.header__text {
  margin-top: 59px;
}


}


  /*
  @media (min-width: 1200px){
    .header__subtitle {
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 68px;
    }
  }*/
