.header {
  background-color: #283645;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 10px;
  margin: 0;
}

.header__image-wrapper {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  object-fit: none;
  width: 320px;
  height: 462px;
  position: relative;

}

.navigation__list {
  list-style: none;
  font-size: 18px;
  font-style: normal;
  line-height: 32px;
  font-weight: bold;
}

.navigation__item {
  height: 63px;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  margin-top: 1px;
}

.navigation__item:first-of-type {
  height: 69px;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.navigation__text {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
  text-align: center;
}

.phone--pink {                                                /*не отображается*/
//  content: "";
  display: block;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 286px;
  object-fit: none;
  position: absolute;
  bottom: 0;
}

.header__header-description img {

}

.header__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.header__toggle {
  background-color: inherit;
  border: none;
}

.download {
  background-color: inherit;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.operating-systems {
  list-style: none;
}

.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
