.navigation {
  background-color: #283645;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.navigation__list {
  list-style: none;
  font-size: 18px;
  font-style: normal;
  line-height: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navigation__item {
  height: 63px;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  margin-top: 1px;
}

.navigation__item:first-of-type {
  height: 69px;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.navigation__text {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
  text-align: center;
}
