.offers {
  background-image: url("../img/mask-price.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 81px;
  background-position-y: -82px;
}

.offers__table {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #ffffff;
  border-collapse: collapse;
//
}

.offers__first-row-date {
  background: #283645;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.offers__first-row-date:nth-of-type(2) {
  background: #283645;
  border-left: none;
  border-right: 2px solid #ffffff;
}

.offers__first-row-date:nth-of-type(4) {
  background: #283645;
  border-left: 2px solid #ffffff;
  border-right: none;
}

.offers__first-row-date:nth-of-type(3) {
  background: #283645;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

td {
  border: 2px solid #E5E5E5;
}

.offers__first-column {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color:  #283645;
}

.offers__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color:  #283645;
}

.offers__button {
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
}

.offers__empty-first-row-cell {
background-color: #F2F2F2;
}
