.your-photo {
  background-color: #F2F2F2;
  font-family: "Open Sans", Arial, sans-serif;
}

.your-photo>img {
  background-color: blue;
}

.your-photo__move {
  background-color: #F2F2F2;
  font-family: "Open Sans", Arial, sans-serif;
  border-top: 1px solid rgba(40, 54, 69, 0.1);
}

.your-photo__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 30px;
}

.upload-button {
  color: #D22856;
  border: 3px solid #D22856;
}

.cancel-button {
  border: 3px solid #283645;
  color: #283645;
  opacity: 0.1;
}
