.achievements {
  background-color: #F2F2F2;
  font-family: "Open Sans", Arial, sans-serif;
}

.achievements__title {
  color: #D22856;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.achievements__label {
  color: #283645;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
