.form {
  background-color: white;
}

.form__button {
  background-color: #2AAB6D;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  border: none;
}

.form__box {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  text-align: center;
  margin-top: 20px;
}

  @media (min-width: 660px) {
    .form__box {
        flex-direction: row;
        justify-content: space-between;
      }
  }

  @media (min-width: 1200px) {
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

    .form__box {
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0 130px;
        margin-top: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
