.form-main {
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
}

.form-main__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.form-main__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color:  #283645;
}

.form-main__help {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color:  #D22856;
}
