.your-contacts {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  margin: 0 20px;
  text-align: center;
}

.your-contacts__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color:  #D22856;
}

.your-contacts__input {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  background-color: white;
  color: #283645;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.your-contacts__input::placeholder {
  color: #283645;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.your-contact__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
  text-transform: uppercase;
}

.your-contact__mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
  text-transform: uppercase;
}

.your-contact__box{
  text-align: left;
}

  @media (min-width: 660px) {
    .your-contacts {
          border: 2px solid #E5E5E5;
        }
    .your-contact__box{
        display: flex;
        flex-direction: column-reverse;
      }
    }

        @media (min-width: 1200px) {
          .your-contacts {
                grid-row-start: 2;
                grid-row-end: 3;
                margin: 0 130px;
                flex-direction: row;
                grid-column-start: 1;
                grid-column-end: 3;
              }
        }
