.your-contacts {
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
}

.your-contacts__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color:  #D22856;
}

.your-contacts__input {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  background-color: white;
  color: #283645;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.your-contacts__input::placeholder {
  color: #283645;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.your-contact__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
  text-transform: uppercase;
}

.your-contact__mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
  text-transform: uppercase;
}
